body{
    color:lightpink;
    padding: 3em 4em 5em 6em;
} 

}
.fornikki {
    font-size: 50pt;
}body {
  font-family: "Georgia", Georgia, sans-serif;
    font-size: 14px;
}
.container {
  padding-left: 50px;
  padding-right: 50px;
}